/* Copyright 2019 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS. */

// General card styles
/* stylelint-disable */
.card {
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

a.card {
  color: $gray-600;
  transition-property: border-color;
  transition-duration: 0.25s;

  &:hover {
    text-decoration: none;
    border-color: $primary;
  }
}

// Card radio buttons
label {
  width: 100%;
}

.card-input-element {
  display: none;
}

.card.card-input {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid $card-border-color;
}

.card-input:hover {
  cursor: pointer;
  border-color: $primary;
}

.card-input-element + .card-input {
  &::before {
    content: '';
    position: absolute;
    right: -8px;
    top: -9px;
    color: $primary;
    background-color: $primary;
    height: 19px;
    width: 19px;
    border-radius: 10px;
    display: none;
  }

  &::after {
    content: 'check';
    position: absolute;
    font-family: 'Material Icons Outlined';
    right: -7px;
    top: -8px;
    text-align: right;
    width: 100%;
    height: 20px;
    line-height: 19px;
    color: $white;
    display: none;
  }
}

.card-input-element:checked + .card-input {
  border-color: $primary;

  &::before,
  &::after {
    display: block;
  }
}

.card-input-element:disabled + .card-input {
  background-color: $gray-100;
  box-shadow: none;

  &:hover,
  &:active {
    cursor: auto;
    border-color: $card-border-color;
  }
}

// Selfservice form and card
.fr-center-card {
  width: 100%;
  text-align: center;

  @include media-breakpoint-between(sm, xl) {
    max-width: 420px;
    padding: 40px 0;
    margin: 0 auto;
  }

  .card {
    border: none;

    @include media-breakpoint-between(sm, xl) {
      margin: 0;
      border-radius: $border-radius;
    }
  }

  .card-header {
    border: none;
    padding: 40px 50px 0;

    .justify-content-center {
      flex-direction: column;

      .fr-logo {
        align-self: center;
      }
    }
  }

  .card-body {
    padding: 20px 40px 40px;

    @include media-breakpoint-between(sm, xl) {
      padding: 20px 40px 40px;
    }
  }

  .card-footer {
    padding: 20px 50px;
  }

  .fr-footer-bottom {
    @media (max-width: 575px) {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}

.fr-m-auto {
  @include media-breakpoint-between(sm, xl) {
    margin: auto;
  }

  @media (max-width: 575px) {
    height: 100%;
    margin: 0;
  }

  .fr-stretch-card {
    @media (max-width: 575px) {
      height: 100%;
    }
  }
}
/* stylelint-enable */
