/**
 * Copyright 2019 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */

$theme: 'dark';
$white: white;
$gray-100: #f7f8fc;
$gray-200: #eaeaed;
$gray-300: #dadadf;
$gray-400: #c2c3cc;
$gray-500: #7e8089;
$gray-600: #555767;
$gray-700: #3b3d4f;
$gray-800: #292c3d;
$gray-900: #1b1e2f;
$black: black;

$blue:    #4784f1;
$indigo:  #5e37f8;
$purple:  #6b4cd9;
$pink:    #c65da9;
$red:     #de4c4b;
$orange:  #e78c65;
$yellow:  #f1bd59;
$green:   #3fd395;
$teal:    #84e4d9;
$cyan:    #72bec8;

$primary:       $purple;
$secondary:     $gray-500;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-800;
$dark:          $gray-200;

/* Base */
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark
);

/* Global Variables */
$enable-shadows:                    true;
$enable-rounded:                    true;

/* General */
$body-bg:                              $gray-800;
$body-color:                           $gray-400;
$headings-color:                       $gray-100;
$border-color:                         $gray-600;
$text-muted:                           $gray-500;
$fr-typeface:                          'Open Sans', sans-serif;
$link-color:                           lighten($primary, 17%);
$link-hover-color:                     lighten($link-color, 9%);
$input-btn-focus-color:                 $gray-900;
$hr-border-color:                       $gray-600;
$component-active-color:                $gray-900;
$component-active-bg:                   theme-color('primary');
$code-color:                            $pink;
$fr-code-editor-bg:                     $gray-800;

/* Inputs */
$input-bg:                              $gray-800;
$input-disabled-bg:                     transparent;
$input-color:                           $gray-200;
$input-border-color:                    $gray-800;
$input-placeholder-color:               $gray-400;
$input-focus-bg:                        darken($input-bg, 4%);
$input-focus-box-shadow:                none;
$input-focus-border-color:              $gray-800;
$input-focus-color:                     $gray-200;
$label-color:                           $gray-400;
$input-btn-color:                       $gray-500;
$input-btn-active-color:                $white;
$btn-link-disabled-color:               $gray-400;

$input-group-addon-color:               $gray-200;
$input-group-addon-bg:                  $gray-800;
$input-group-addon-border-color:        $gray-800;
$progress-bg:                           $input-bg;

/* Custom form controls */
$component-active-color:                                            $dark;
$component-active-bg:                                               $primary;
$custom-control-indicator-bg:                                       $gray-800;
$custom-control-indicator-checked-bg:                               $primary;
$custom-control-indicator-border-color:                             $gray-800;
$custom-select-focus-border-color:                                  $gray-800;
$custom-select-bg:                                                  $input-bg;
$custom-select-border-color:                                        $input-border-color;
$custom-select-color:                                               $input-color;
$custom-select-indicator-color:                                     $gray-400;
$custom-select-indicator:                                           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), '#', '%23');
$custom-control-indicator-active-bg:                                $gray-600;
$custom-control-indicator-active-border-color:                      $gray-600;
$custom-select-disabled-bg:                                         $gray-800;
$custom-control-indicator-checked-disabled-bg:                      rgba(theme-color('primary'), 0.4);
$custom-control-label-disabled-color:                               $body-color;
$fr-custom-control-indicator-switch-handle-color:                   $gray-400;
$fr-custom-control-indicator-switch-handle-disabled-color:          $gray-500;
$fr-custom-control-indicator-switch-border-color:                   $gray-800;
$fr-custom-control-indicator-switch-background-color:               $gray-800;
$fr-custom-control-indicator-switch-checked-disabled-border-color:  $custom-control-indicator-checked-disabled-bg;

/* List group */
$fr-hover-list-color:                  $gray-600;
$list-group-bg:                        $gray-700;
$list-group-hover-bg:                  $gray-600;
$list-group-active-bg:                 $gray-700;
$list-group-action-active-bg:          $gray-700;
$list-group-active-color:              $body-color;
$fr-list-group-active-border-color:    $primary;
$fr-hover-list-color:                  $list-group-active-bg;
$list-group-border-color:              $gray-800;
$list-group-hover-bg:                  $primary;
$list-group-active-bg:                 $primary;
$list-group-item-padding-y: 1.25rem;
$list-group-item-padding-x: 1.5rem;
$list-group-active-color: $body-color;
$list-group-hover-bg: $gray-800;
$list-group-active-bg: $gray-800;

/* Popover */
$popover-bg:                           $gray-900;

/* Switches */
$fr-switch-bg:                         $gray-800;
$fr-switch-toggled-bg:                 $primary;

/* Modals */
$modal-content-bg:                     $gray-700;
$modal-header-border-color:            $border-color;
$fr-modal-header-bg:                   $modal-content-bg;
$fr-modal-footer-bg:                   $fr-modal-header-bg;

$modal-header-border-color: $border-color;
$modal-inner-padding: 1.5rem;
$modal-header-padding-y: 1rem;
$modal-header-padding-x: 1.5rem;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;
$modal-title-line-height: 2.25rem;
$fr-modal-title-font-size: 1.25rem;

/* Navbar */
$navbar-height:                        4.5rem;
$navbar-inverse-bg:                    $gray-800;
$navbar-inverse-border:                $gray-600;
$navbar-inverse-color:                 $gray-400;
$fr-navbar-height:                     $navbar-height;
$fr-navbar-bg:                         $navbar-inverse-bg;
$fr-navbar-border:                     $navbar-inverse-border;
$fr-navbar-color:                      $navbar-inverse-color;

/* Close */
$close-color:                          $gray-200;
$close-text-shadow:                    none;

/* nav tavs */
$nav-tabs-border-color:                $gray-600;
$nav-tabs-link-color:                  $gray-400;
$nav-tabs-link-active-color:           $gray-200;
$nav-highlight-color:                  $component-active-bg;
$fr-sidetabs-active-bg:                $gray-800;
$fr-sidetabs-active-color:             $white;
$fr-sidetabs-border:                   $body-bg;

/* Cards */
$card-cap-bg:                          $gray-700;
$card-bg:                              $gray-700;
$card-border-color:                    $gray-800;
$fr-accordion-border-color:            $gray-700;
$fr-card-border:                       $border-width solid $gray-700;
$fr-center-card-logo-height:           72px;

/* Dropdown */
$dropdown-border-color:                $gray-700;
$dropdown-bg:                          $gray-700;
$dropdown-link-color:                  $gray-200;
$dropdown-link-hover-color:            darken($gray-200, 5%);
$dropdown-link-hover-bg:               $gray-600;
$dropdown-link-disabled-color:         $gray-600;
$dropdown-header-color:                $gray-200;
$dropdown-link-active-color:           $component-active-color;
$dropdown-link-active-bg:              $component-active-bg;
$dropdown-divider-bg:                  $gray-600;

/* Toolbar */
$fr-toolbar-background:                $gray-700;
$fr-application-text-color:            $gray-100;
$fr-toolbar-color:                     $gray-100;
$fr-toolbar-dropdown-color:            $gray-100;

/* Sidemenu */
$fr-sidemenu-background-color: $gray-900;
$fr-sidemenu-toggler-border-color: transparent;
$fr-sidemenu-toggler-background-color: $gray-900;
$fr-sidemenu-font-color: $gray-400;
$fr-sidemenu-color: $gray-400;
$fr-sidemenu-active-border-color: $yellow;
$fr-sidemenu-height: 4.5rem;
$fr-sidemenu-hover:  rgba(0, 0, 0, 0.3);
$fr-sidemenu-active-color: $white;
$fr-sidemenu-shadow: 1px 0 9px rgba(0, 0, 0, 0.45);
$fr-sidemenu-border: $gray-200;
$fr-sidemenu-width-lg: 15em;
$fr-sidemenu-width-sm: 3.75em;
$fr-sidemenu-fontsize: 0.875rem;
$fr-sidemenu-icon-fontsize: 1.125rem;
$fr-sidemenu-bottom-color: $gray-200;
$fr-sidemenu-bottom-background-color: $gray-900;

/* Alert */
$alert-padding-y:                   1.25rem;
$alert-padding-x:                   1.25rem;
$alert-border-width:                0;
$fr-alert-text-color:               $white;
$fr-alert-info-bg-color:            $gray-900;
$fr-alert-secondary-bg-color:       $gray-900;
$fr-alert-success-bg-color:         $gray-900;
$fr-alert-warning-bg-color:         $gray-900;
$fr-alert-danger-bg-color:          $gray-900;
$fr-alert-light-bg-color:           $gray-900;
$fr-alert-dark-bg-color:            $gray-900;
$fr-alert-box-shadow:               0 0 14px 0 rgba(0, 0, 0, 0.75);

/* Paginator */
$pagination-color:                  $link-color;
$pagination-bg:                     $gray-700;
$pagination-border-color:           transparent;
$pagination-hover-border-color:     transparent;
$pagination-active-border-color:    transparent;
$pagination-disabled-border-color:  transparent;
$pagination-active-color:           $link-color;
$pagination-active-bg:              $gray-900;
$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               transparent;
$pagination-disabled-color:         $gray-500;
$pagination-disabled-bg:            $gray-700;

/* Table */
$table-bg:                          transparent;
$table-accent-bg:                   $gray-900;
$table-hover-bg:                    $gray-900;
$table-color:                       $gray-100;
$table-border-color:                $gray-800;
