/**
 * Copyright 2019-2020 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import './cardTabsVertical.scss';
@import './dialog.scss';
@import './tabsHorizontal.scss';
@import './form.scss';
@import './prism-editor.scss';
@import './modal.scss';

// General application styles
html,
body {
  height: 100%;
  font-family: $fr-typeface;
}

// Missing material design size utilities (not included with outline versions for some reason)
.material-icons.md-14,
.material-icons-outlined.md-14 {
  font-size: 14px;
  line-height: 14px;
}

.material-icons.md-18,
.material-icons-outlined.md-18 {
  font-size: 18px;
  line-height: 18px;
}

.material-icons.md-24,
.material-icons-outlined.md-24 {
  font-size: 24px;
  line-height: 24px;
}

.material-icons.md-36,
.material-icons-outlined.md-36 {
  font-size: 36px;
  line-height: 36px;
}

.material-icons.md-48,
.material-icons-outlined.md-48 {
  font-size: 48px;
  line-height: 48px;
}

.material-icons.md-64,
.material-icons-outlined.md-64 {
  font-size: 64px;
  line-height: 64px;
}

.material-icons.md-72,
.material-icons-outlined.md-72 {
  font-size: 72px;
  line-height: 72px;
}

.material-icons.md-96,
.material-icons-outlined.md-96 {
  font-size: 96px;
  line-height: 96px;
}

.material-icons,
.material-icons-outlined {
  font-size: 1.125rem;
  vertical-align: middle;
  line-height: 1.244rem;
}

.icon-flipped {
  transform: scaleX(-1);
}

.fr-sidebar-nav .dropdown-toggle,
.navbar-nav .dropdown-toggle,
.accordion .card-header {
  &::after {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.fr-sidebar-nav .dropdown-toggle,
.accordion .card-header {
  &::after {
    right: 1.25rem;
  }
}

.dropdown-toggle {
  &::after {
    border: none;
    content: 'expand_more';
    font-family: 'Material Icons Outlined', sans-serif;
    font-size: 1rem;
    transition: opacity 0.2s ease-out;
    vertical-align: middle;
  }

  &[aria-expanded='true']::after {
    content: 'expand_less';
  }
}

.dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

h1 {
  font-weight: $h1-font-weight;
}

h2 {
  font-weight: $h2-font-weight;
}

h3 {
  font-weight: $h3-font-weight;
}

h4 {
  font-weight: $h4-font-weight;
}

h5 {
  font-weight: $h5-font-weight;
}

h6 {
  font-weight: $h6-font-weight;
  letter-spacing: 1px;
}

hr {
  color: $gray-300;

  &.fr-accent {
    width: 170px;
    border-color: $green;
    border-width: 3px;
  }
}

code {
  background: #f6f8fa;
  border-radius: 3px;
}

small {
  font-size: $small-font-size;
}

legend {
  font-size: $font-size-base;
}

.color-blue {
  color: $blue;
}

.color-indigo {
  color: $indigo;
}

.color-purple {
  color: $purple;
}

.color-pink {
  color: $pink;
}

.color-red {
  color: $red;
}

.color-orange {
  color: $orange;
}

.color-yellow {
  color: $yellow;
}

.color-green {
  color: $green;
}

.color-teal {
  color: $teal;
}

.color-cyan {
  color: $cyan;
}

// opacity
.opacity-20 {
  opacity: 0.2;
}

.opacity-70 {
  opacity: 0.7;
}

// Page transition
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.badge-success,
.badge-warning {
  color: $white;
}

// General card styles
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  border: $fr-card-border;
}

a.card {
  color: $gray-600;
  transition-duration: 0.25s;

  &:hover {
    text-decoration: none;
    border-color: $blue;
  }
}

.fr-alert {
  padding-left: 10px;

  .material-icons {
    width: 32px;
  }
}

.opacity-30 {
  opacity: 0.3;
}

.table {
  thead th {
    border: none;
    font-weight: $fr-table-head-weight;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  td {
    vertical-align: middle;
  }

  tr.b-table-row-selected.table-transparent {
    background-color: $light-blue !important;
  }

  tr:focus {
    outline: none;
  }

  td.col-actions,
  th.col-actions {
    width: 120px;
  }
}

@media (min-width: 992px) {
  .table {
    table-layout: fixed;
  }
}

.media {
  .fr-realm-stamp {
    font-size: 1rem;
    height: 34px;
    width: 34px;
  }
}

// General toolbar styles
.btn-toolbar {
  border-bottom: $fr-table-head-border solid $table-border-color;
  padding: 12px;
}

//Circle and icon
.fr-resource-circle {
  width: 75px;
  height: 75px;
  text-align: center;
}

.fr-toggle-primary {
  &.custom-switch.b-custom-control-lg {
    user-select: none;
    padding-left: 2rem;

    .custom-control-label {
      cursor: pointer;
      font-size: 0.625rem;
      font-weight: 600;
      color: white;
      line-height: 3;
      padding-top: 2rem;
      padding-left: 2rem;
      z-index: 0;

      &::before {
        left: -2rem;
        height: 2rem;
        width: 3.5rem;
        border-radius: 1rem;
        background-color: #c0c9d5;
        border: none;
        z-index: -1;
      }

      &::after {
        top: 0.5rem;
        left: calc(-1.9rem + 2px);
        width: calc(1.875rem - 4px);
        height: calc(1.875rem - 4px);
        border-radius: 1rem;
        background-color: $white;
      }
    }

    .custom-control-input:disabled {
      ~ .custom-control-label {
        cursor: initial;
      }
    }

    .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: none;
    }

    .custom-control-input:checked {
      &:disabled {
        ~ .custom-control-label {
          cursor: initial;

          &::before {
            background-color: #79c3f6;
          }
        }
      }

      ~ .custom-control-label {
        &::before {
          background-color: $blue;
        }

        &::after {
          transform: translateX(1.45rem);
        }
      }
    }

    &.inner-text {
      .custom-control-input:checked {
        ~ .custom-control-label {
          left: -1.45rem;

          &::before {
            left: -0.55rem;
          }

          &::after {
            transform: translateX(2.95rem);
          }
        }
      }
    }
  }
}

// Letters & Colors
.letter-a,
.letter-g,
.letter-m,
.letter-s,
.letter-y {
  background-color: $indigo;
}

.letter-b,
.letter-h,
.letter-n,
.letter-t,
.letter-z {
  background-color: $yellow;
}

.letter-c,
.letter-i,
.letter-o,
.letter-u {
  background-color: $pink;
}

.letter-d,
.letter-j,
.letter-p,
.letter-v {
  background-color: $orange;
}

.letter-e,
.letter-k,
.letter-q,
.letter-w {
  background-color: $green;
}

.letter-f,
.letter-l,
.letter-r,
.letter-x {
  background-color: $cyan;
}

.fr-logo-vertical-black {
  background-image: url('~@forgerock/platform-shared/src/assets/images/themes/#{$theme}/vertical-logo-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.fr-logo-vertical {
  background-image: url('~@forgerock/platform-shared/src/assets/images/themes/#{$theme}/vertical-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.fr-logo-horizontal {
  background-image: url('~@forgerock/platform-shared/src/assets/images/themes/#{$theme}/horizontal-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  width: 100%;
}

.vh-60 {
  height: 60vh !important;
}

.vh-70 {
  height: 70vh !important;
}

.vh-80 {
  height: 80vh !important;
}

.vh-90 {
  height: 90vh !important;
}

.vh-100 {
  height: 100vh !important;
}
