pre[class*='language-'] {
  font-size: 0.875rem !important;
  background: $gray-100 !important;
  padding: 1rem !important;
}

.prism-editor-wrapper {
  background-color: $gray-100;
}

code[class*='language-'] {
  display: inline !important;
}
