.btn-group-toggle {
  >.btn,
  >.btn-group>.btn {
    position: relative;
    padding-left: 3rem;
    border-color: $input-border-color;

    &:hover,
    &:focus {
      background-color: $gray-100;
      color: $input-color;
    }

    &:before {
      position: absolute;
      top:33.333%;
      left:$btn-padding-x;
      width: 1rem;
      height: 1rem;
      pointer-events: none;
      content: "";
      background-color: #fff;
      @include border-radius($custom-checkbox-indicator-border-radius);
      border: #c0c9d5 solid 1px;
      vertical-align: middle;
      margin-right: .5rem;
    }
    &:after {
      position: absolute;
      top:33.333%;
      left:$btn-padding-x;
      width: 1rem;
      height: 1rem;
      content: "";
      background: no-repeat 50% / 50% 50%;
      vertical-align: middle;
      margin-right: .5rem;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      border-color: $input-focus-border-color;
      background-color: lighten($primary, 45%);
      color: $input-color;

      &:before {
        color: #fff;
        border-color: $primary;
        background-color: $primary;
      }
      &:after {
        background-image: $custom-checkbox-indicator-icon-checked;
      }
      &:hover,
      &:focus {
        background-color: lighten($primary, 40%);
      }
    }
  }
}
