// Card radio buttons
label {
    width: 100%;
}
.card-input-element {
    display: none;
}
.card-input {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $gray-300;
}
.card-input:hover {
    cursor: pointer;
    border-color: $primary;
}
.card-input-element + .card-input {

    &:before {
        content: "";
        position: absolute;
        right: -8px;
        top: -9px;
        color: $primary;
        background-color: $primary;
        height: 19px;
        width: 19px;
        border-radius: 10px;
        display: none;
    }
    &:after {
        content: 'check';
        position: absolute;
        font-family: 'Material Icons Outlined';
        right: -7px;
        top: -8px;
        text-align: right;
        width: 100%;
        height: 20px;
        line-height: 19px;
        color: $white;
        display: none;
    }
}
.card-input-element:checked + .card-input {
    border-color: $primary;
    &:before,
    &:after {
        display: block;
    }
}
