/* Copyright 2019 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS. */

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon-eu {
  background-image: url(assets/images/flags/4x3/eu.svg);
}
.flag-icon-gb {
  background-image: url(assets/images/flags/4x3/gb.svg);
}
.flag-icon-us {
  background-image: url(assets/images/flags/4x3/us.svg);
}
