/* Copyright 2019 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS. */

.material-icons,
.material-icons-outlined {
  font-size: 1.125rem;
  vertical-align: middle;
  line-height: 1.244rem;
}
// Missing material design size utilities (not included with outline versions for some reason)
.material-icons,
.material-icons-outlined {
    &.md-14 {
        font-size: 14px;
        line-height: 14px;
    }
    &.md-18 {
        font-size: 18px;
        line-height: 18px;
    }
    &.md-24 {
        font-size: 24px;
        line-height: 24px;
    }
    &.md-36 {
        font-size: 36px;
        line-height: 36px;
    }
    &.md-48 {
        font-size: 48px;
        line-height: 48px;
    }
    &.md-60 {
        font-size: 60px;
        line-height: 60px;
    }
    &.md-72 {
        font-size: 72px;
        line-height: 72px;
    }
    &.md-84 {
        font-size: 84px;
        line-height: 84px;
    }
    &.md-96 {
        font-size: 96px;
        line-height: 96px;
    }
}

.icon-flipped {
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
