/* Copyright 2019 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS. */

.fr-main-navbar {
    height: 4.5rem;
    border-bottom: 1px solid $gray-200;
    background-color: $white;

    .material-icons {
        position: relative;
        top: 5px;
    }

    .navbar-toggler {
        border-width: 0;
        position: relative;
        bottom: 10px;
    }
}
