/* Copyright 2019 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS. */

.progress-indicator {
    position: relative;
    max-width: 70%;
    width: 100%;
    flex: 1 1 auto;
    margin: auto;
    > .progress {
        position: absolute;
        top: 50%;
        margin-top: -.0625rem;
    }
    > ol {
        align-items: center;
        height: 100%;
        margin: auto;
        position: relative;
        z-index: 1;
        .list-inline-item {
            > .btn-progress-marker {
                width: 1rem;
                height: 1rem;
                position: relative;
                border-radius: 50%;
                background: #dddbda;
                border: 4px solid $white;
                vertical-align: middle;
                padding: 0;
            }
            &.active,
            &.complete {
                > .btn-progress-marker {
                    background: $white;
                    border-color: $primary;
                }
            }
            &.active {
                > .btn-progress-marker {
                    box-shadow: 0 0 0 4px $white;
                }

            }
            &.complete {
                > .btn-progress-marker {
                    border-color: $white;
                    color: #5eb4ff;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}
