.table {
  thead th {
    border-top: none;
    border-bottom: $fr-table-head-border solid $table-border-color;
    font-weight: $fr-table-head-weight;
  }
  &.table-hover {
    tbody tr {
      cursor: pointer;
    }
  }
}
