/* Copyright 2019 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS. */

h1, .h1 {
  font-weight: $h1-font-weight;
}
h2, .h2 {
    font-weight: $h2-font-weight;
}
h3, .h3 {
  font-weight: $h3-font-weight;
}
h4, .h4 {
  font-weight: $h4-font-weight;
}
h5, .h5 {
  font-weight: $h5-font-weight;
}
h6, .h6 {
  font-weight: $h6-font-weight;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $gray-500;
}
hr {
  color: $gray-300;

  &.fr-accent {
    width: 170px;
  }
}

h1, h2, h3, h4, h5, h6 {
    &.linked-header {
        >span {
            display: block;
            pointer-events: auto;
            position: relative;
            &:focus,
            &:hover {
                > a {
                    opacity: .5;
                }
            }
            > a {

                font-weight: 500;
                color: $primary;
                transition: color .15s ease-in-out,opacity .15s ease-in-out;
                opacity: 0;
                position: absolute;
                left: -1.5rem;
                padding-right: 1.5rem;
                text-decoration: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                &:before {
                    content: "#";
                }
                &:focus,
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
