/**
 * Copyright 2019-2020 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */

/**
  Badge Styles
*/
.fr-rounded-circle {
  height: 34px;
  width: 34px;
  background-color: $gray-400;
  color: $white;
  border-radius: 50%;
  text-align: center;

  &.material-icons {
    position: relative;
    padding-top: 5px;
  }
}

/**
  Menu State Mixins
*/
@mixin fr-menu-expanded {
  width: $fr-sidemenu-width-lg;
  transform: translateX(0);
}

@mixin fr-menu-collapsed {
  width: $fr-sidemenu-width-sm;

  /deep/ {
    .dropdown-toggle::after {
      opacity: 0;
    }
  }

  .sidebar-item-text,
  .fr-sidebar-subitem {
    display: none;
  }

  &:hover {
    width: $fr-sidemenu-width-lg;

    .fr-sidebar-nav {
      /deep/ {
        .dropdown-toggle::after {
          opacity: 1;
        }
      }

      > li > ul,
      .fr-sidebar-subitem {
        display: block;
      }
    }

    .sidebar-item-text {
      display: block;
    }
  }
}

@mixin fr-menu-hidden {
  transform: translateX(-#{$fr-sidemenu-width-lg});
  width: $fr-sidemenu-width-lg;
}

/**
  Overlay shim
*/
#app {
  .fr-sidebar-shim {
    display: none;
    background-color: $black;
    opacity: 0.2;
    z-index: $zindex-sticky;
  }

  &.fr-menu-mobile {
    .fr-sidebar-shim {
      display: block;
    }
  }
}

/**
  Touch device specific styles - Desktop
*/
@media (any-hover: hover) {
  @include media-breakpoint-up(md) {
    #app.fr-menu-collapsed {
      .fr-sidebar-wrapper {
        @include fr-menu-collapsed;
      }
    }

    #app.fr-menu-expanded {
      .fr-sidebar-wrapper {
        @include fr-menu-expanded;
      }
    }
  }

  @include media-breakpoint-between(sm, md) {
    #app:not(.fr-menu-mobile):not(.fr-menu-collapsed):not(.fr-menu-expanded) .fr-sidebar-wrapper {
      @include fr-menu-collapsed;
    }
  }

  @include media-breakpoint-down(sm) {
    .fr-sidebar-wrapper {
      @include fr-menu-hidden;
    }

    #app.fr-menu-mobile {
      .fr-sidebar-wrapper {
        @include fr-menu-expanded;

        .fr-sidebar-bottom {
          display: none;
        }
      }
    }
  }
}

/**
  Touch device specific styles - Mobile
*/
@media (any-hover: none) {
  .fr-sidebar-wrapper {
    @include media-breakpoint-down(md) {
      @include fr-menu-hidden;
    }

    .fr-sidebar-bottom {
      display: none;
    }
  }
}

/**
  Default Menu Styles
*/
.fr-sidebar-wrapper {
  background: $fr-sidemenu-background-color;
  color: $fr-sidemenu-font-color;
  height: 100%;
  position: fixed;
  top: 0;
  width: $fr-sidemenu-width-lg;
  will-change: transform;
  transition: transform 0.2s ease-out, width 0.2s ease-out;
  z-index: $zindex-fixed;

  .fr-menu-mobile & {
    transform: translateX(0);
  }

  :not(.fr-menu-mobile) & {
    @include media-breakpoint-up(sm) {
      box-shadow: 1px 0 9px rgba(0, 0, 0, 0.13);
    }
  }

  .fr-sidebar-nav {
    .material-icons {
      height: 18px;
      width: 18px;
    }

    .sidebar-item-text {
      white-space: nowrap;
      font-size: 0.875rem;
      line-height: 1;
    }

    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .fr-sidebar-brand {
      height: 72px;

      &:hover {
        background-color: $fr-sidemenu-hover;
      }

      /deep/ {
        .b-dropdown {
          width: 100%;

          > button {
            overflow: hidden;
          }

          .dropdown-menu {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
            font-size: 0.875rem;
            margin: -15px 0 0 -5px;
            min-width: 243px;
            padding: 0;

            h5 {
              font-size: inherit;
            }

            .dropdown-item {
              align-items: center;
              display: flex;
            }
          }
        }

        .dropdown-toggle {
          border: 0;
          color: $fr-sidemenu-font-color;

          .fr-dropdown-button {
            margin-left: 12px;
          }

          h5 {
            font-size: inherit;
          }
        }
      }
    }

    ul.fr-sidebar-menuitems,
    ul.fr-sidebar-submenuitems {
      font-size: 0.875rem;
      overflow-x: hidden;
      overflow-y: auto;
      white-space: nowrap;

      > li > a,
      > li.dropdown-toggle,
      > li.dropdown-toggle > a,
      > .fr-sidebar-subitem a {
        border-left: 3px solid transparent;
        cursor: pointer;
        color: $fr-sidemenu-font-color;
        display: block;
        padding: 15px 20px 15px 16px;
        position: relative;
        text-decoration: none;

        &.router-link-active {
          background-color: $fr-sidemenu-hover;
          border-left-color: $primary;
        }

        &:hover {
          background: $fr-sidemenu-hover;
        }
      }

      > .fr-sidebar-menugroup {
        .fr-sidebar-subitem a {
          padding: 16px 24px 15px 50px;
        }
      }
    }
  }

  .fr-sidebar-bottom {
    border-top: 1px solid $fr-sidemenu-bottom-color;
  }
}
