/**
 * Copyright 2019-2020 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */
@media (min-width: map-get($grid-breakpoints, 'md')) {
  .fr-menu-locked {
    #appContent {
      padding-left: 272px;
      margin-right: 0;
    }
  }
}

/**
  Badge Styles
*/
.fr-rounded-circle {
  height: 34px;
  width: 34px;
  background-color: $gray-400;
  color: $white;
  border-radius: 50%;
  text-align: center;

  &.material-icons {
    position: relative;
    padding-top: 5px;
  }
}

/**
  Overlay shim
*/
.fr-sidebar-shim {
  display: none;
  background-color: $black;
  opacity: 0.2;
  z-index: 1;
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  .fr-sidebar-toggled {
    .fr-sidebar-shim {
      display: block;
    }
  }
}

/**
  Sidebar base styles
*/
.fr-sidebar-wrapper {
  position: fixed;
  width: $fr-sidemenu-width-lg;
  height: 100%;
  margin-left: -$fr-sidemenu-width-lg;
  background: $fr-sidemenu-background-color;
  z-index: 2;
  transition: margin-left 0.15s ease-out, width 0.1s ease-out;
  color: $fr-sidemenu-font-color;

  &:hover {
    overflow: hidden;
  }

  .material-icons {
    position: relative;
  }

  /**
    Menu will shift close when screen size small and hover open when greater then 768px in width
  */
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    width: $fr-sidemenu-width-sm;
    margin-left: 0;
    box-shadow: 1px 0 9px rgba(0, 0, 0, 0.13);

    .sidebar-item-text,
    .fr-sidebar-subitem {
      display: none;
    }

    &:hover {
      margin-left: 0;
      width: $fr-sidemenu-width-lg;

      .fr-sidebar-nav {
        width: $fr-sidemenu-width-lg;

        .fr-sidebar-menuitems {
          .fr-sidebar-menugroup > .dropdown-toggle::after {
            display: inline-block;
          }
        }

        > li > ul,
        .fr-sidebar-subitem {
          display: block;
        }
      }

      .fr-sidebar-brand {
        /deep/ .dropdown-toggle::after {
          display: inline-block;
        }
      }

      .sidebar-item-text {
        display: inline;
      }

      .fr-sidebar-bottom {
        width: $fr-sidemenu-width-lg;
        display: block;
      }
    }
  }

  .fr-sidebar-nav {
    position: absolute;
    top: 0;
    width: $fr-sidemenu-width-lg;
    margin: 0;
    padding: 0;
    list-style: none;

    .fr-sidebar-brand {
      height: 72px;

      &:hover {
        background-color: $fr-sidemenu-hover;
      }

      .dropdown-divider {
        margin: 0;
      }

      .fr-dropdown-button {
        margin-left: 12px;
        height: 34px;
      }

      /**
        Need deep to control sub component menu styles correctly
      */
      /deep/ {
        .b-dropdown {
          width: 100%;

          .dropdown-menu {
            padding: 0;
            font-size: 0.875rem;

            h5 {
              font-size: inherit;
            }
          }
        }

        .dropdown-toggle {
          color: $gray-700;
          font-size: 0.875rem;

          h5 {
            font-size: inherit;
          }
        }
      }
    }

    .fr-sidebar-menuitems {
      overflow: hidden;

      &:hover {
        overflow-y: auto;
      }

      li {
        font-size: 0.875rem;

        &:hover {
          background: $fr-sidemenu-hover;
        }
      }

      li > a,
      > .fr-sidebar-menugroup > li {
        color: $fr-sidemenu-font-color;
        display: block;
        position: relative;
        border-left: 3px solid transparent;
        text-decoration: none;
        cursor: pointer;
        padding: 15px 20px 15px 16px;

        &.router-link-active {
          background-color: $fr-sidemenu-hover;
          border-left-color: $primary;
        }
      }

      .fr-sidebar-menugroup {
        .fr-sidebar-subitem > li > a {
          padding: 16px 24px 15px 46px;
        }
      }
    }

    /**
      Make sure menu items fit in small menu
    */
    @media (min-width: map-get($grid-breakpoints, 'md')) {
      width: $fr-sidemenu-width-sm;
    }
  }

  .fr-sidebar-bottom {
    border-top: 1px solid $fr-sidemenu-bottom-color;
    padding: 15px 20px 15px 19px;
    cursor: pointer;

    &:hover {
      background: $fr-sidemenu-hover;
    }

    .sidebar-item-text {
      font-size: 0.875rem;
    }
  }
}

/*
  Dropdown chevrons
*/
/deep/ {
  .fr-sidebar-menugroup > .dropdown-toggle::after,
  .dropdown-toggle::after {
    display: none;
    content: 'keyboard_arrow_down';
    font-family: 'Material Icons Outlined', sans-serif;
    border-top: 0;
    font-size: 1rem;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .fr-sidebar-menugroup.expanded > .dropdown-toggle::after {
    content: 'keyboard_arrow_up';
  }
}

/*
  Menu Toggled Open
*/
.fr-sidebar-toggled {
  .fr-sidebar-wrapper {
    margin-left: 0;
    width: $fr-sidemenu-width-lg;

    .sidebar-item-text {
      display: inline;
    }

    .fr-sidebar-nav {
      width: $fr-sidemenu-width-lg;

      /deep/ .dropdown-toggle::after {
        display: inline-block;
      }

      .fr-sidebar-subitem {
        display: block;
      }
    }

    .fr-sidebar-bottom {
      width: $fr-sidemenu-width-lg;
    }
  }
}
