
.device-xs {
  width: 36px;
  height: 36px;
  background: no-repeat url('~@forgerock/platform-enduser/src/assets/images/devices-sprite.svg');
  background-size: 36px 252px;

  &[data-device-type=android] {
    background-position: 0 -36px;
  }

  &[data-device-type=chromiumos] {
    background-position: 0 -72px;
  }

  &[data-device-type=ios] {
    background-position: 0 -108px;
  }

  &[data-device-type=macos] {
    background-position: 0 -144px;
  }

  &[data-device-type=linux] {
    background-position: 0 -180px;
  }

  &[data-device-type=windows] {
    background-position: 0 -216px;
  }
}
