/**
 * Copyright 2019 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~@forgerock/platform-components/src/scss/main.scss";

// Export colors to make them available in JS
:export {
  baseColor: $primary;
}

//Circle and icon
.fr-resource-circle {
  width: 75px;
  height: 75px;
  text-align: center;

  .fa {
    line-height: inherit;
  }
}

// Application adjustments (not related to themes
// Center spinner
.v-spinner {
  .v-bounce1 {
    margin-left: auto;
    margin-right: auto;
  }
}

.fr-body-image {
  @if $fr-background-image == 'none' {

  } @else {
    background: $fr-background-image;
  }
}

/**
  Fade animation for form transitions into error state
 */
.is-invalid {
  transition: border .75s linear;
}

.fr-validation-requirements {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .75s;
}

.fr-toggle-primary {
  &.toggled .v-switch-core {
    background-color: $fr-switch-toggled-bg;
  }
  .v-switch-core {
    background-color: $fr-switch-bg;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
