/**
 * Copyright 2020-2021 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */
/deep/ .multiselect {
  cursor: pointer;
  box-sizing: border-box;
  min-height: 48px;

  &:focus-within {
    border-color: $blue;
    box-shadow: 0 0 0 0.0625rem $blue;
  }

  &.multiselect--disabled {
    opacity: 1;
    background-color: $gray-100;

    ~ label,
    .multiselect__single,
    .multiselect__select,
    .multiselect__tags {
      background-color: $gray-100;
    }

    .multiselect__select {
      top: 1px;
    }
  }

  &.form-control {
    border: none;
  }

  &.multiselect--active ~ label {
    z-index: 51;
  }

  &.no-multiselect-label .multiselect__tags {
    padding-top: 0.5rem !important;

    .multiselect__input {
      padding-top: 0 !important;
    }
  }

  ~ label {
    width: calc(100% - 40px);
  }

  .multiselect__content-wrapper {
    overflow-x: hidden;
    border-color: $gray-100;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  }

  .multiselect__content {
    width: 100%;
  }

  .multiselect__input,
  .multiselect__single {
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    background: transparent;
    padding: 0;
    transition: border 0.1s ease;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: top;
    text-align: left;
    color: $gray-900;
  }

  .multiselect__single {
    padding-left: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .multiselect__input {
    padding-top: 0.4rem !important;
  }

  .multiselect__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 0.25rem;
    margin-right: 5px;
    color: inherit;
    line-height: 1;
    background-color: $light-blue;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    font-size: 0.8125rem;
  }

  .multiselect__tags {
    display: block;
    height: 100%;
    padding: 1.1rem 50px 0.1rem 0.75rem;
    font-size: 0.875rem;
    border: 1px solid $gray-400;
    overflow: hidden;

    input:focus {
      box-shadow: none;
    }

    .multiselect__tags-wrap {
      display: inline-block;
      padding-top: 0.5rem;
    }

    .multiselect__placeholder {
      font-size: 1rem;
      color: $gray-600;
      padding-top: 0;
      margin-bottom: 0;
      white-space: nowrap;
    }

    .multiselect__tag-icon {
      &.material-icons-outlined {
        padding-top: 4px;
      }

      &::after {
        color: $gray-700;
      }

      &:hover,
      &:focus {
        background-color: initial;
        outline: none;
      }
    }
  }

  .multiselect__select {
    width: 50px;
    position: absolute;
    border-radius: 3px;
    padding: 0.75rem 1rem;
    height: 46px;
    transform: none !important;
    background-color: $white;

    &::before {
      content: 'expand_more';
      font-family: 'Material Icons Outlined', sans-serif;
      font-size: 1rem;
      line-height: 1;
      vertical-align: middle;
      position: initial;
      top: initial;
      color: initial;
      margin: 0;
      border: none;
    }
  }

  .multiselect__option {
    display: flex;
    min-height: 40px;
    line-height: 0.9375rem;
    text-decoration: none;
    text-transform: none;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 12px 12px 16px;

    & button {
      display: none;
    }

    &.multiselect__option--selected,
    &.multiselect__option--highlight,
    &.multiselect__option--highlight::after {
      outline: none;
      color: inherit;
      font-weight: inherit;
    }

    &.multiselect__option--selected {
      background: $light-blue;
    }

    &.multiselect__option--highlight:not(.multiselect__option--selected),
    &.multiselect__option--highlight:not(.multiselect__option--selected)::after {
      background: $gray-100;
    }

    &.multiselect__option--selected .btn {
      border-color: #109cf1;
      background-color: #109cf1;
      color: white;

      &:hover {
        border-color: #0b7dc3;
        background-color: #0b7dc3;
      }
    }

    &.multiselect__option--highlight button {
      display: block;
    }
  }
}

/deep/ .fr-field-error {
  .multiselect__select {
    right: 0;
    top: 0;
  }

  .multiselect__tags {
    height: calc(100% - 1px);
    border: none;
  }

  .multiselect--disabled {
    .multiselect__select {
      top: 0;
    }
  }
}
